<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Spring Boot</title>
<link rel="icon" type="image/x-icon" href="/images/mldn.ico"/>
</head>
<body>
	<form action="add" method="post">
		用户名：&nbsp;<input type="text" name="mid" id="mid" value="hahah@123.com"/><br/>
		真实姓名：<input type="text" name="name" id="name" value="zhangsan"/><br/>
		年龄：&nbsp;&nbsp;<input type="text" name="age" id="age" value="23"/><br/>
		出生日期：<input type="text" name="birthday" id="birthday" value="1995-10-27"/><br/>
		工资：&nbsp;&nbsp;<input type="text" name="sal" id="sal" value="99999.9"/><br/>
		<input type="submit" value="提交"/>
	</form>
</body>
</html>